@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Nunito');

html {
	font-family: "Nunito", "Helvetica", "Arial";
}

body {
	min-width: 300px;
	padding-right: 5px;
}

main {

	@include breakpoint(small) {
		margin: 75px auto;
		width: 75%;
	}

	> header {
		border: 2px solid #000;
		padding: 40px 20px 20px;
	}

	> section {
		border: 2px solid #000;
		border-top: none;
		padding: 10px;
	}
}

button, input, label {
	box-sizing: border-box;
	font-size: 16px;
	margin: 10px;
	outline: none;
	padding: 10px;
	width: 100%;

	@include breakpoint(medium) {
		margin-right: 5px;
		width: auto;
	}
}

button {
	border-radius: 4px;
	padding: 10px 35px;
}


#streams-head {
	margin-bottom: 10px;

	div {
		display: inline-block;
	}
}

#streams {
	/*opacity: 0;*/
	position: relative;

    /*transition: all 1s ease-in-out;*/
    /*visibility: hidden;*/

	&.show {
		/*opacity: 100;*/
		visibility: visible;
	}

	.pagination {
		position: absolute;
		right: 0;
	}
}

.stream {
	display: block;
	margin: 0 10px;
	padding: 15px 0;
	border-bottom: 1px solid black;

	&:last-child {
		border-bottom: none;
	}

	@include breakpoint(medium) {
		border-bottom: none;
		display: flex;
		padding: 0;

	}

	figure {
		margin: 10px;

		img {
			width: 100%;

			@include breakpoint(large) {
				width: auto;
			}
		}
	}

	.stream-info {
		flex-grow: 1;
		margin-left: 20px;
		vertical-align: top;

		h3 {
			font-size: 18px;
			font-weight: 700;
		}

		p {
			margin: 0;
		}
	}
}

